@media screen and (min-width: 35rem){
	body > footer {
		position: fixed;
		bottom: 0;
	}

	blockquote {
		max-width: 30rem;

		p {
			font-size: 2.25rem;
		}

		cite {
			font-size: 1.4rem;
			font-variant-caps: all-small-caps;
			-moz-font-feature-settings: "c2sc", "smcp";
			-webkit-font-feature-settings: "c2sc", "smcp";
			font-feature-settings: "c2sc", "smcp";
			letter-spacing: 0.07em;
			font-kerning: normal;
		}
	}

	article {
		height: 80%;
	}
}