@media screen and (min-width: 35rem){
	body > footer {
		position: fixed;
		bottom: 0;
	}

	blockquote {
		max-width: 30rem;

		p {
			font-size: 2.25rem;
		}

		cite {
			font-size: 1.4rem;
		}
	}

	article {
		height: 85%;
	}
}