body, html {
	background: white;
	height: 100%;
	margin: 0;
}

article {
	display: table;
	min-height: 90%;
	max-width: 70%;
	margin: auto;

	p {
		margin-top: 0;
	}
}

blockquote {
	display: table-cell;
	vertical-align: middle;
}

.author {
	color: #fff;
}

.turn-to-red {
	color: #F15D64;
	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
    transition: all .5s;
}

body > footer {
	width: 100%;
	padding: 1.5rem;
	// background-color: #F8F8F8;
	overflow: auto;
}

.menu {
	float: right;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #A4AFBB;
	line-height: 2em;

	.tweet {
		color: #55acee!important;
	}

	a {
		color: #A4AFBB;
		text-decoration: none;

		&:visited {
			color: #A4AFBB;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.instructions {
	opacity: 0;
	width: 100%;
	position: fixed;
	bottom: 15%;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #DAD9D9;

	.keyboard {
		background: url(../images/bg-keyboard.png) no-repeat;
		width: 70px;
		height: 28px;
		background-size: contain;
		margin: auto;
	}

	p {
		margin: 0;
		margin-top: 10px;
	}
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}